{% extends 'app/base.html' %}
{% load static %}


{% block main-content %}


    <!--start main content-->
     <main class="page-content">
       <!--breadcrumb-->
				<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
					<div class="breadcrumb-title pe-3">Applications</div>
					<div class="ps-3">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb mb-0 p-0">
								<li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
								</li>
								<li class="breadcrumb-item active" aria-current="page">Contact List</li>
							</ol>
						</nav>
					</div>
					<div class="ms-auto">
						<div class="btn-group">
							<button type="button" class="btn btn-primary">Settings</button>
							<button type="button" class="btn btn-primary split-bg-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">	<span class="visually-hidden">Toggle Dropdown</span>
							</button>
							<div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">	<a class="dropdown-item" href="javascript:;">Action</a>
								<a class="dropdown-item" href="javascript:;">Another action</a>
								<a class="dropdown-item" href="javascript:;">Something else here</a>
								<div class="dropdown-divider"></div>	<a class="dropdown-item" href="javascript:;">Separated link</a>
							</div>
						</div>
					</div>
				</div>
				<!--end breadcrumb-->  

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-3 row-cols-xxl-4">
          <div class="col">
            <div class="card border-bottom border-0 border-4 shadow-sm border-primary">
              <div class="card-body text-center">
                <div class="profile-img">
                   <img src="{% static 'app/images/avatars/01.png' %}" class="rounded-circle p-1 bg-primary" width="100" height="100" alt="">
                </div>
                <div class="mt-4">
                    <h5 class="mb-1">Jhon Maxwell</h5>
                    <p class="mb-0">@maxwell</p>
                </div>
                <div class="d-flex align-items-center justify-content-around mt-4">
                  <div class="">
                    <h5 class="mb-0 fw-bold">289</h5>
                    <p class="mb-0">Posts</p>
                  </div>
                  <div class="">
                    <h5 class="mb-0 fw-bold">42K</h5>
                    <p class="mb-0">Followers</p>
                  </div>
                  <div class="">
                    <h5 class="mb-0 fw-bold">8K</h5>
                    <p class="mb-0">Following</p>
                  </div>
               </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card border-bottom border-0 border-4 shadow-sm border-danger">
              <div class="card-body text-center">
                <div class="profile-img">
                   <img src="{% static 'app/images/avatars/02.png' %}" class="rounded-circle p-1 bg-danger" width="100" height="100" alt="">
                </div>
                <div class="mt-4">
                    <h5 class="mb-1">Jhon Maxwell</h5>
                    <p class="mb-0">@maxwell</p>
                </div>
                <div class="d-flex align-items-center justify-content-around mt-4">
                  <div class="">
                    <h5 class="mb-0 fw-bold">289</h5>
                    <p class="mb-0">Posts</p>
                  </div>
                  <div class="">
                    <h5 class="mb-0 fw-bold">42K</h5>
                    <p class="mb-0">Followers</p>
                  </div>
                  <div class="">
                    <h5 class="mb-0 fw-bold">8K</h5>
                    <p class="mb-0">Following</p>
                  </div>
               </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card border-bottom border-0 border-4 shadow-sm border-success">
              <div class="card-body text-center">
                <div class="profile-img">
                   <img src="{% static 'app/images/avatars/03.png' %}" class="rounded-circle p-1 bg-success" width="100" height="100" alt="">
                </div>
                <div class="mt-4">
                    <h5 class="mb-1">Jhon Maxwell</h5>
                    <p class="mb-0">@maxwell</p>
                </div>
                <div class="d-flex align-items-center justify-content-around mt-4">
                  <div class="">
                    <h5 class="mb-0 fw-bold">289</h5>
                    <p class="mb-0">Posts</p>
                  </div>
                  <div class="">
                    <h5 class="mb-0 fw-bold">42K</h5>
                    <p class="mb-0">Followers</p>
                  </div>
                  <div class="">
                    <h5 class="mb-0 fw-bold">8K</h5>
                    <p class="mb-0">Following</p>
                  </div>
               </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card border-bottom border-0 border-4 shadow-sm border-warning">
              <div class="card-body text-center">
                <div class="profile-img">
                   <img src="{% static 'app/images/avatars/04.png' %}" class="rounded-circle p-1 bg-warning" width="100" height="100" alt="">
                </div>
                <div class="mt-4">
                    <h5 class="mb-1">Jhon Maxwell</h5>
                    <p class="mb-0">@maxwell</p>
                </div>
                <div class="d-flex align-items-center justify-content-around mt-4">
                  <div class="">
                    <h5 class="mb-0 fw-bold">289</h5>
                    <p class="mb-0">Posts</p>
                  </div>
                  <div class="">
                    <h5 class="mb-0 fw-bold">42K</h5>
                    <p class="mb-0">Followers</p>
                  </div>
                  <div class="">
                    <h5 class="mb-0 fw-bold">8K</h5>
                    <p class="mb-0">Following</p>
                  </div>
               </div>
              </div>
            </div>
          </div>
        </div><!--end row-->


        <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3">
          <div class="col">
            <div class="card radius-15">
              <div class="card-body">
                <div class="d-flex align-items-center gap-3">
                  <img src="{% static 'app/images/avatars/07.png' %}" width="100" height="100" class="rounded-circle p-1 border" alt="">
                  <div class="">
                    <h5 class="mb-0">Thomas C. Wheeler</h5>
                    <p class="mb-0 text-secondary">Sales Manager</p>
                    <div class="list-inline contacts-social mt-2"> <a href="javascript:;" class="list-inline-item text-facebook"><i class="bx bxl-facebook"></i></a>
                      <a href="javascript:;" class="list-inline-item text-twitter"><i class="bx bxl-twitter"></i></a>
                      <a href="javascript:;" class="list-inline-item text-google"><i class="bx bxs-phone"></i></a>
                      <a href="javascript:;" class="list-inline-item text-linkedin"><i class="bx bxl-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card radius-15">
              <div class="card-body">
                <div class="d-flex align-items-center gap-3">
                  <img src="{% static 'app/images/avatars/08.png' %}" width="100" height="100" class="rounded-circle p-1 border" alt="">
                  <div class="">
                    <h5 class="mb-0">David O. Buckley</h5>
                    <p class="mb-0 text-secondary">Android Developer</p>
                    <div class="list-inline contacts-social mt-2"> <a href="javascript:;" class="list-inline-item text-facebook"><i class="bx bxl-facebook"></i></a>
                      <a href="javascript:;" class="list-inline-item text-twitter"><i class="bx bxl-twitter"></i></a>
                      <a href="javascript:;" class="list-inline-item text-google"><i class="bx bxs-phone"></i></a>
                      <a href="javascript:;" class="list-inline-item text-linkedin"><i class="bx bxl-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card radius-15">
              <div class="card-body">
                <div class="d-flex align-items-center gap-3">
                  <img src="{% static 'app/images/avatars/09.png' %}" width="100" height="100" class="rounded-circle p-1 border" alt="">
                  <div class="">
                    <h5 class="mb-0">Johnny W. Seitz</h5>
                    <p class="mb-0 text-secondary">Php Programmer</p>
                    <div class="list-inline contacts-social mt-2"> <a href="javascript:;" class="list-inline-item text-facebook"><i class="bx bxl-facebook"></i></a>
                      <a href="javascript:;" class="list-inline-item text-twitter"><i class="bx bxl-twitter"></i></a>
                      <a href="javascript:;" class="list-inline-item text-google"><i class="bx bxs-phone"></i></a>
                      <a href="javascript:;" class="list-inline-item text-linkedin"><i class="bx bxl-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><!--end row-->


        <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-4">
					<div class="col">
						<div class="card radius-15">
							<div class="card-body text-center">
								<div class="">
									<img src="{% static 'app/images/avatars/05.png' %}" width="110" height="110" class="rounded-circle shadow" alt="">
									<h5 class="mb-0 mt-5">Pauline I. Bird</h5>
									<p class="mb-3">Webdeveloper</p>
									<div class="list-inline contacts-social mt-3 mb-3"> <a href="javascript:;" class="list-inline-item bg-facebook text-white border-0"><i class="bx bxl-facebook"></i></a>
										<a href="javascript:;" class="list-inline-item bg-twitter text-white border-0"><i class="bx bxl-twitter"></i></a>
										<a href="javascript:;" class="list-inline-item bg-google text-white border-0"><i class="bx bxl-google"></i></a>
										<a href="javascript:;" class="list-inline-item bg-linkedin text-white border-0"><i class="bx bxl-linkedin"></i></a>
									</div>
									<div class="d-grid">
                     <a href="#" class="btn btn-sm btn-outline-primary radius-15">Contact Me</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="card radius-15">
							<div class="card-body text-center">
								<div class="">
									<img src="{% static 'app/images/avatars/06.png' %}" width="110" height="110" class="rounded-circle shadow" alt="">
									<h5 class="mb-0 mt-5">Ralph L. Alva</h5>
									<p class="mb-3">UI Developer</p>
									<div class="list-inline contacts-social mt-3 mb-3"> <a href="javascript:;" class="list-inline-item bg-facebook text-white border-0"><i class="bx bxl-facebook"></i></a>
										<a href="javascript:;" class="list-inline-item bg-twitter text-white border-0"><i class="bx bxl-twitter"></i></a>
										<a href="javascript:;" class="list-inline-item bg-google text-white border-0"><i class="bx bxl-google"></i></a>
										<a href="javascript:;" class="list-inline-item bg-linkedin text-white border-0"><i class="bx bxl-linkedin"></i></a>
									</div>
									<div class="d-grid">
                     <a href="#" class="btn btn-sm btn-outline-primary radius-15">Contact Me</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="card radius-15">
							<div class="card-body text-center">
								<div class="">
									<img src="{% static 'app/images/avatars/07.png' %}" width="110" height="110" class="rounded-circle shadow" alt="">
									<h5 class="mb-0 mt-5">John B. Roman</h5>
									<p class="mb-3">Graphic Designer</p>
									<div class="list-inline contacts-social mt-3 mb-3"> <a href="javascript:;" class="list-inline-item bg-facebook text-white border-0"><i class="bx bxl-facebook"></i></a>
										<a href="javascript:;" class="list-inline-item bg-twitter text-white border-0"><i class="bx bxl-twitter"></i></a>
										<a href="javascript:;" class="list-inline-item bg-google text-white border-0"><i class="bx bxl-google"></i></a>
										<a href="javascript:;" class="list-inline-item bg-linkedin text-white border-0"><i class="bx bxl-linkedin"></i></a>
									</div>
									<div class="d-grid">
                     <a href="#" class="btn btn-sm btn-outline-primary radius-15">Contact Me</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="card radius-15">
							<div class="card-body text-center">
								<div class="">
									<img src="{% static 'app/images/avatars/08.png' %}" width="110" height="110" class="rounded-circle shadow" alt="">
									<h5 class="mb-0 mt-5">David O. Buckley</h5>
									<p class="mb-3">Android Developer</p>
									<div class="list-inline contacts-social mt-3 mb-3"> <a href="javascript:;" class="list-inline-item bg-facebook text-white border-0"><i class="bx bxl-facebook"></i></a>
										<a href="javascript:;" class="list-inline-item bg-twitter text-white border-0"><i class="bx bxl-twitter"></i></a>
										<a href="javascript:;" class="list-inline-item bg-google text-white border-0"><i class="bx bxl-google"></i></a>
										<a href="javascript:;" class="list-inline-item bg-linkedin text-white border-0"><i class="bx bxl-linkedin"></i></a>
									</div>
									<div class="d-grid">
                     <a href="#" class="btn btn-sm btn-outline-primary radius-15">Contact Me</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div><!--end row-->


     </main>
     {% endblock main-content %}
 

   