{% extends 'app/base.html' %}
{% load static %}


{% block main-content %}


    <!--start main content-->
     <main class="page-content">
      <!--breadcrumb-->
				<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
					<div class="breadcrumb-title pe-3">Widgets</div>
					<div class="ps-3">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb mb-0 p-0">
								<li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
								</li>
								<li class="breadcrumb-item active" aria-current="page">Data Widgets</li>
							</ol>
						</nav>
					</div>
					<div class="ms-auto">
						<div class="btn-group">
							<button type="button" class="btn btn-primary">Settings</button>
							<button type="button" class="btn btn-primary split-bg-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">	<span class="visually-hidden">Toggle Dropdown</span>
							</button>
							<div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">	<a class="dropdown-item" href="javascript:;">Action</a>
								<a class="dropdown-item" href="javascript:;">Another action</a>
								<a class="dropdown-item" href="javascript:;">Something else here</a>
								<div class="dropdown-divider"></div>	<a class="dropdown-item" href="javascript:;">Separated link</a>
							</div>
						</div>
					</div>
				</div>
				<!--end breadcrumb-->
        
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 row-cols-xxl-4">
          <div class="col">
            <div class="card radius-10 border-0 border-start border-primary border-4">
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <div class="">
                    <p class="mb-1">Total Orders</p>
                    <h4 class="mb-0 text-primary">248</h4>
                  </div>
                  <div class="ms-auto">
                     <div id="chart1"></div>
                  </div>
                </div>
              </div>
            </div>
           </div>
           <div class="col">
            <div class="card radius-10 border-0 border-start border-success border-4">
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <div class="">
                    <p class="mb-1">Total Revenue</p>
                    <h4 class="mb-0 text-success">$1,245</h4>
                  </div>
                  <div class="ms-auto">
                    <div id="chart2"></div>
                  </div>
                </div>
              </div>
            </div>
           </div>
           <div class="col">
            <div class="card radius-10 border-0 border-start border-danger border-4">
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <div class="">
                    <p class="mb-1">Bounce Rate</p>
                    <h4 class="mb-0 text-danger">24.25%</h4>
                  </div>
                  <div class="ms-auto">
                    <div id="chart3"></div>
                  </div>
                </div>
              </div>
            </div>
           </div>
           <div class="col">
            <div class="card radius-10 border-0 border-start border-warning border-4">
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <div class="">
                    <p class="mb-1">New Users</p>
                    <h4 class="mb-0 text-warning">214</h4>
                  </div>
                  <div class="ms-auto">
                    <div id="chart4"></div>
                   </div>
                </div>
              </div>
            </div>
           </div>
        </div><!--end row-->

        <div class="row">
          <div class="col-12 col-lg-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <div class="">
                    <p class="mb-1">Messages</p>
                    <h4 class="mb-0 text-pink">289</h4>
                  </div>
                  <div class="dropdown ms-auto">
                    <button type="button" class="btn-option dropdown-toggle dropdown-toggle-nocaret cursor-pointer" data-bs-toggle="dropdown"><i class="bi bi-three-dots fs-4"></i>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="javascript:;">Action</a>
                      </li>
                      <li><a class="dropdown-item" href="javascript:;">Another action</a>
                      </li>
                      <li>
                        <hr class="dropdown-divider">
                      </li>
                      <li><a class="dropdown-item" href="javascript:;">Something else here</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="mt-3">
                  <div id="chart5"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <div class="">
                    <p class="mb-1">Total Posts</p>
                    <h4 class="mb-0 text-success">489</h4>
                  </div>
                  <div class="dropdown ms-auto">
                    <div class="dropdown-toggle dropdown-toggle-nocaret cursor-pointer" data-bs-toggle="dropdown"><i class="bi bi-three-dots fs-4"></i>
                    </div>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="javascript:;">Action</a>
                      </li>
                      <li><a class="dropdown-item" href="javascript:;">Another action</a>
                      </li>
                      <li>
                        <hr class="dropdown-divider">
                      </li>
                      <li><a class="dropdown-item" href="javascript:;">Something else here</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="mt-3">
                  <div id="chart6"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-4">
            <div class="card radius-10 border shadow-none mb-0">
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <div class="">
                    <p class="mb-1">New Tasks</p>
                    <h4 class="mb-0 text-warning">149</h4>
                  </div>
                  <div class="dropdown ms-auto">
                    <div class="dropdown-toggle dropdown-toggle-nocaret cursor-pointer" data-bs-toggle="dropdown"><i class="bi bi-three-dots fs-4"></i>
                    </div>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="javascript:;">Action</a>
                      </li>
                      <li><a class="dropdown-item" href="javascript:;">Another action</a>
                      </li>
                      <li>
                        <hr class="dropdown-divider">
                      </li>
                      <li><a class="dropdown-item" href="javascript:;">Something else here</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="mt-3">
                  <div id="chart7"></div>
                </div>
              </div>
            </div>
          </div>
        </div><!--end row-->

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 row-cols-xxl-4">
          <div class="col">
            <div class="card overflow-hidden">
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <div class="">
                    <p class="mb-1">Notifications</p>
                    <h4 class="mb-0 text-primary">145</h4>
                  </div>
                  <div class="ms-auto fs-2 text-primary">
                    <i class="bi bi-bell-fill"></i>
                  </div>
                </div>
              </div>
              <div class="">
                <div id="chart8"></div>
              </div>
            </div>
           </div>
           <div class="col">
            <div class="card radius-10">
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <div class="">
                    <p class="mb-1">Total Posts</p>
                    <h4 class="mb-0 text-danger">249</h4>
                  </div>
                  <div class="ms-auto fs-2 text-danger">
                    <i class="bi bi-chat-right-text-fill"></i>
                  </div>
                </div>
              </div>
              <div class="">
                <div id="chart9"></div>
              </div>
            </div>
           </div>
           <div class="col">
            <div class="card radius-10">
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <div class="">
                    <p class="mb-1">Messages</p>
                    <h4 class="mb-0 text-success">845</h4>
                  </div>
                  <div class="ms-auto fs-2 text-success">
                    <i class="bi bi-collection-fill"></i>
                  </div>
                </div>
              </div>
              <div class="">
                <div id="chart10"></div>
              </div>
            </div>
           </div>
           <div class="col">
            <div class="card radius-10">
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <div class="">
                    <p class="mb-1">Articles</p>
                    <h4 class="mb-0 text-orange">645</h4>
                  </div>
                  <div class="ms-auto fs-2 text-orange">
                    <i class="bi bi-cup-hot-fill"></i>
                  </div>
                </div>
              </div>
              <div class="">
                <div id="chart11"></div>
              </div>
            </div>
           </div>
        </div><!--end row-->



        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 row-cols-xxl-4">
          <div class="col">
            <div class="card radius-10">
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <div class="">
                    <p class="mb-1">Total Orders</p>
                    <h4 class="mb-0 text-pink">542</h4>
                  </div>
                  <div class="ms-auto">
                    <div class="w_chart" id="chart12" data-percent="60">
                      <span class="w_percent"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card radius-10">
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <div class="">
                    <p class="mb-1">Total Income</p>
                    <h4 class="mb-0 text-primary">15K</h4>
                  </div>
                  <div class="ms-auto">
                    <div class="w_chart" id="chart13" data-percent="60">
                      <span class="w_percent"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card radius-10">
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <div class="">
                    <p class="mb-1">Comments</p>
                    <h4 class="mb-0 text-success">59</h4>
                  </div>
                  <div class="ms-auto">
                    <div class="w_chart" id="chart14" data-percent="60">
                      <span class="w_percent"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card radius-10">
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <div class="">
                    <p class="mb-1">New Tickets</p>
                    <h4 class="mb-0 text-orange">214</h4>
                  </div>
                  <div class="ms-auto">
                    <div class="w_chart" id="chart15" data-percent="60">
                      <span class="w_percent"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
           </div>
          </div><!--end row-->


     </main>
     <!--end main content-->
 

     {% endblock main-content %}